@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Hind Vadodara";
}

.header {
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.hamburguer {
  display: none;
}

ul {
  padding-left: 5%;
  list-style: none;
  display: flex;
  gap: 20px;
}

ul a {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #331b3b;
  text-decoration: none;
}

.home a {
  font-weight: 600;
}

.imagen_nav {
  z-index: 9999;
}

.imagen_nav a {
  text-decoration: none;
  color: #331b3b;
}

.underhome::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  margin-bottom: 5%;
  bottom: 0;
  border: 1px solid #fdc221;
  width: 50%;
  transition: all 0.25s ease-out;
}

.underhome:hover:after {
  width: 100%;
}

.undernav::after {
  content: "";
  position: absolute;
  left: 0;
  margin-bottom: 5%;
  bottom: 0;
  border: 1px solid #fdc221;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.undernav:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.img-r {
  transition: all 0.25s ease-out;
}

.img-r:hover {
  scale: 1.05;
}

.titulo_nav {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #331b3b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo_nav {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #331b3b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor_home {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contenido_home {
  position: relative;
  margin-left: 5%;
  width: 38%;
}

.titulo_home {
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  color: #331b3b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 160%;
  margin-bottom: 5%;
}

.texto_home {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 146.3%;
  letter-spacing: 0.02em;
  color: rgba(51, 27, 59, 0.66);
  margin-bottom: 5%;
}

.tu_negocio::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  margin-bottom: 5%;
  /* margin-left: -30% ; */
  bottom: 0;
  border: 8px solid #fdc221;
  width: 90%;
}

.boton_home {
  width: fit-content;
  padding: 3% 10%;
  /* height: 55px; */
  background: #331b3b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}

.boton_home:hover {
  scale: 1.05;
}

.boton_home a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.imagen_home {
  width: 45%;
  position: absolute;
  top: 0;
  right: 0;
}

.imagen_home img {
  width: 100%;
}

/* LO QUE HACEMOS */
.lo_que_hacemos {
  margin-top: 10%;
}

.fondo_lo_que_hacermos {
  position: absolute;
  background: url("../img/Lo_que_hacemos/Bg_1.png");
  background-size: cover;
  width: 100%;
  height: 670px;
}

.titulo_LoQueHacemos {
  position: relative;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  padding-top: 92px;
  color: #331b3b;
}

span {
  position: relative;
  z-index: 4;
}

.underNegocio::after {
  z-index: -1;
  content: "";
  position: absolute;
  right: 0;
  margin-right: -22px;
  margin-bottom: 9%;
  bottom: 0;
  border: 5px solid #fdc221;
  width: 100%;
}

.card {
  position: relative;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffff;
  width: 260px;
  height: 170px;
  padding: 1% 2%;
  transition: 0.2s all ease-in-out;
}

.card:hover {
  scale: 1.05;
}

.container_cards_LoQueHacemos {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10%;
  gap: 40px;
}

.icon img {
  border-radius: 10px;
}

.icon1 img {
  background: #ffded4;
  border-radius: 10px;
  padding: 2%;
}

.icon2 img {
  background: #ffeed4;
  border-radius: 10px;
  padding: 2%;
}

.icon3 img {
  background: #d4f0ff;
  border-radius: 10px;
  padding: 2%;
}

.card_title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 13px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #331b3b;
}

.card_info {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 3%;
  letter-spacing: 0.02em;
  color: rgba(51, 27, 59, 0.66);
}

/* ACERCA DE NOSOTROS */
.acercaNosotros {
  margin-top: 10%;
}

.contenedor_acercaNosotros {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.TituloacercaNosotros {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #331b3b;
}

.TextoacercaNosotros {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.02em;
  margin-top: 5%;
  color: rgba(51, 27, 59, 0.66);
}

.BotonacercaNosotros {
  cursor: pointer;
  width: 207px;
  background: #331b3b;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 5%;
  text-align: center;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}

.BotonacercaNosotros:hover {
  scale: 1.05;
}

.BotonacercaNosotros a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.img_acercaNosotros {
  width: 50%;
}

.img_acercaNosotros img {
  width: 100%;
}

.info_acercaNosotros {
  padding: 15px;
  width: 500px;
}

.underNosotros::after {
  z-index: -1;
  content: "";
  position: absolute;
  right: 0;
  margin-right: -50px;
  margin-bottom: 9%;
  bottom: 0;
  border: 3px solid #fdc221;
  width: 40%;
}

/* TRABAJOS RECIENTES */
.fondo_trabajosRecientes {
  position: absolute;
  background-image: url("../img/TrabajosRecientes/bg.png");
  background-color: white;
  background-size: cover;
  width: 85%;
  height: 673px;
  margin-left: 15%;
}

.head_trabajosRecientes {
  position: relative;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
}

.titulo_trabajosRecientes {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.01em;
  color: #331b3b;
}

.Texto_trabajosRecientes {
  margin-top: 4%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 146.3%;
  letter-spacing: 0.02em;
  color: #331b3b;
}

.ContenidoTrabajosRecientes {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(419px, 1fr));
  gap: 40px;
}

.trabajosrecientes_card {
  width: 350px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
}

.imagentrabajoR img {
  width: 100%;
}

.card1tr {
  justify-self: end;
}

.card2tr {
  justify-self: start;
}

.trabajosRecientes_foot {
  margin-top: 6%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.nameTrabajoR {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.3%;
  color: #331b3b;
}

.botonTrabajoR {
  text-align: center;
  display: flex;
  border: 1px solid #331b3b;
  padding: 0% 6%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}

.botonTrabajoR a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.3%;
  color: #331b3b;
}

.botonTrabajoR:hover {
  scale: 1.02;
}

.underExpertos::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  margin-bottom: 3.5%;
  margin-left: -5%;
  border: 4px solid #fdc221;
  width: 40%;
  transition: width 1s ease-in-out;
}

.NuestrosTestimonios{
  margin-top: 10%;
}
.underExpertos:hover:after {
  width: 90%;
}
.container-card{
  margin-top: 5%;
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2%;
}
span{
  position: relative;
}
.UnderCliente::after{
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15%;
  margin-bottom: 10%;
  border: 5px solid #FDC221;
  width: 76%;
}
.gion{
  color: #FDC221;
  font-size: 26px;
  justify-content: center;
}
.titulotestimonios{
  font-family: "Hind Vadodara";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #331B3B;
}
.Parrafo1{
  font-size: 20px;
}

.tarjeta{
  font-family: "Hind Vadodara";
  width: 450px;
  height: fit-content;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  color: #331B3B;
  padding: 35px 35px 15px 35px;
}
.titulotestimonios{
  text-align: center;
}

/* Media query's NM */


/* Pantallas +2k */
@media screen and (min-width: 2064px) {
  ul{
    gap: 20%;
  }
  .navbar ul li a{
    font-size: 30px;
  }
  .titulo_nav{
    font-size: 50px;
  }
  .img-r{
    width: 100px;
  }
  .titulo_home{
    font-size: 80px;
  }
  .texto_home{
    font-size: 35px;
  }
  .boton_home a{
    font-size: 30px;
  }

  .titulo_LoQueHacemos{
    font-size: 60px;
  }
  .fondo_lo_que_hacermos{
    height: 1240px;
  }
  .card{
    width: 20%;
    height: 300px;
    max-height: fit-content;
  }
  .icon img{
    width: 60px;
  }
  .card_title{
    font-size: 25px;
  }
  .card_info{
    font-size: 24px;
  }
  .contenedor_acercaNosotros{
    justify-content: space-between;
    gap: 0;
  }
  .info_acercaNosotros{
    width: 45%;
    margin-right: 2%;
  }
  .img_acercaNosotros{
    width: 45%;
  }

  .TituloacercaNosotros{
    font-size: 80px;
  }
  .TextoacercaNosotros{
    margin-top: 11%;
    font-size: 35px;
  }
  .BotonacercaNosotros{
    width: fit-content;
    padding: 2% 10%;
  }
  .BotonacercaNosotros a{
    font-size: 35px;
  }
  .fondo_trabajosRecientes{
    height: 1100px !important;
  }

  .titulo_trabajosRecientes{
    font-size: 55px;
  }
  .Texto_trabajosRecientes{
    font-size: 30px;
  }
  .trabajosrecientes_card {
    width: 600px;
    height: fit-content;
  }
  .nameTrabajoR{
    font-size: 30px;
  }
  .botonTrabajoR a{
    font-size: 25px;
  }
  .fondo_trabajosRecientes{
    height: 1000px;
  }
  .titulotestimonios{
    font-size: 65px;
    line-height: 90px;
  }
  .tarjeta{
    width: 30%;
  }
  .Parrafo1{
    font-size: 30px;
  }
  .gion{
    font-size: 60px;
  }
  .Ref_tes{
    font-size: 40px;
  }
  
}


/* small Laptop */
@media screen and (max-width: 1065px) {
  .titulo_home {
    font-size: 35px;
  }

  .imagen_home {
    width: 50%;
  }

  .fondo_lo_que_hacermos {
    width: 1345px;
    margin-left: -30%;
  }

  .container_cards_LoQueHacemos {
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 230px;
    height: 200px;
    max-height: fit-content;
  }

  .acercaNosotros {
    margin-top: 20%;
  }

  .contenedor_acercaNosotros {
    gap: 40px;
  }

  .img_acercaNosotros {
    display: flex;
    /* border: 1px solid blue; */
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .img_acercaNosotros img {
    /* border: 1px solid red; */
    width: 100%;
    height: 40%;
  }

  .info_acercaNosotros {
    padding: 15px;
    width: 40%;
  }

  .fondo_trabajosRecientes {
    width: 1030px;
    margin-left: 0%;
  }
  .tarjeta{
    width: 40%;
  }
}

/* Vista Tableta */
@media screen and (max-width: 950px) {
  .imagen_home {
    display: none;
  }

  .contenido_home {
    /* margin-top: 10%; */
    width: 100%;
  }

  .titulo_home {
    width: 70%;
  }

  .titulo_LoQueHacemos {
    padding-top: 10%;
  }

  .imagen_nav {
    display: none;
  }

  .header {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 5%;
  }

  ul {
    padding-left: 0;
    padding-top: 7%;
  }

  .navbar {
    grid-row: 2;
  }

  .fondo_lo_que_hacermos {
    background-image: none;
    width: initial;
    margin-left: initial;
  }

  .lo_que_hacemos {
    background-color: #ecf7ff;
    border-bottom-right-radius: 450px;
    padding-bottom: 10%;
  }

  .acercaNosotros {
    margin-top: 0;
  }

  .container_cards_LoQueHacemos {
    padding: 5%;
    margin: initial;
  }

  .titulo_LoQueHacemos {
    text-align: left;
    padding-left: 10%;
  }

  .card {
    width: 270px;
    height: 200px;
  }

  .img_acercaNosotros {
    display: none;
  }

  .info_acercaNosotros {
    width: 100%;
    padding: 10%;
    text-align: justify;
  }

  .fondo_trabajosRecientes {
    background-image: none;
    width: initial;
  }

  .trabajosRecientes {
    border-top-left-radius: 450px;
    background-color: rgba(255, 222, 212, 0.3);
  }
  .container-card{
    align-items: center;
  }
  .ContenidoTrabajosRecientes{
    padding-bottom: 10%;
  }
  .tarjeta{
    width: 70%;
  }
  .tarjeta2{
    margin-top: 4%;
  }
}

@media screen and (max-width: 882px) {
  .card1tr,
  .card2tr {
    justify-self: center;
  }

  .trabajosrecientes_card {
    width: 70%;
    height: fit-content;
  }

  .ContenidoTrabajosRecientes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 642px) {
  .titulo_home {
    width: 80%;
  }
}

/* Vista Celulares */
@media screen and (max-width: 522px) {
  .head_trabajosRecientes {
    display: flex;
    flex-direction: column;
  }

  .lo_que_hacemos,
  .trabajosRecientes {
    border-radius: 0;
  }

  .card {
    width: 90%;
    height: fit-content;
    padding: 10%;
  }

  .trabajosRecientes_foot {
    flex-wrap: wrap;
  }

  .botonTra2 {
    margin: 5% auto;
    padding: 3% 10%;
  }

  .titulo_home {
    font-size: 20px;
  }

  .tu_negocio::after {
    border: 3px solid #fdc221;
  }

  .texto_home {
    font-size: 14px;
    text-align: justify;
    padding-right: 10%;
  }

  .titulo_trabajosRecientes {
    font-size: 20px;
  }

  .titulo_LoQueHacemos {
    font-size: 19px;
  }

  .underNegocio::after {
    border: 3px solid #fdc221;
  }

  .TituloacercaNosotros {
    font-size: 20px;
  }

  .underNosotros::after {
    margin-right: -18px;
    border: 3px solid #fdc221;
  }

  .TextoacercaNosotros {
    font-size: 14px;
  }

  .BotonacercaNosotros {
    margin: 10% auto;
    padding: 10px 5px;
  }

  .head_trabajosRecientes {
    align-items: start;
  }

  .titulo_trabajosRecientes {
    font-size: 20px;
  }

  .Texto_trabajosRecientes {
    font-size: 14px;
  }
  .titulotestimonios{
    font-size: 20px;
    line-height: 40px;
  }
  .Parrafo1{
    font-size: 16px;
  }
}
